.map__container {
    background-image: url('../../../images/map.svg');
    position: relative;
    width: 1080px;
    height: 1098px;
    background-size: cover;
    padding: 0;
    margin: 0;
    transform-origin: 0 0;
    transform: scale(1);
}

@media screen and (max-width: 1279px) {
    .map__container {
        width: 720px;
        height: 732px;
    }
}

@media screen and (max-width: 767px) {
    .map__container {
        width: 432px;
        height: 440px;
        transform: scale(1.6);
    }
}

@media screen and (max-width: 479px) {
    .map__container {
        width: 309px;
        height: 314px;
        transform: scale(2.4);
    }
}